<?xml version="1.0"?>
<config>
    <modules>
        <Apps_Payfast>
            <version>1.0</version>
        </Apps_Payfast>
    </modules>
    <global>
        <models>
            <payfast>
                <class>Apps_Payfast_Model</class>
            </payfast>
        </models>
        <helpers>
            <payfast>
                <class>Apps_Payfast_Helper</class>
            </payfast>
        </helpers>
        <resources>
            <payfast_setup>
                <setup>
                    <module>Apps_Payfast</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payfast_setup>
            <payfast_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payfast_write>
            <payfast_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payfast_read>
        </resources>
        <blocks>
            <payfast>
                <class>Apps_Payfast_Block</class>
            </payfast>
        </blocks>
        <payment>
            <url>https://apps.net.pk/</url>
           
        </payment>
    </global>
    <frontend>
        <secure_url>
            <payfast_processing>/payfast/processing</payfast_processing>
        </secure_url>
        <routers>
            <payfast>
                <use>standard</use>
                <args>
                    <module>Apps_Payfast</module>
                    <frontName>payfast</frontName>
                </args>
            </payfast>
        </routers>
        <translate>
            <modules>
                <Apps_Payfast>
                    <files>
                        <default>Apps_Payfast.csv</default>
                    </files>
                </Apps_Payfast>
            </modules>
        </translate>
        <layout>
            <updates>
                <payfast>
                    <file>payfast.xml</file>
                </payfast>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Apps_Payfast>
                    <files>
                        <default>Apps_Payfast.csv</default>
                    </files>
                </Apps_Payfast>
            </modules>
        </translate>
    </adminhtml>
    <phoenix>
        <payfast>
            <verify_url></verify_url>
        </payfast>
    </phoenix>
    <default>
        <payment>
            <payfast_webcheckout>
                <active>0</active>
                <model>payfast/webcheckout</model>
                <order_status>1</order_status>
                <title>PayFast</title>
                <desc>Your purchase</desc>             
            </payfast_webcheckout>
        </payment>
    </default>
</config>
